In [1]:
import numpy as np 
import pandas as pd 
import os
import glob
import json
from matplotlib import pyplot as plt
import seaborn as sns
from collections import Counter
import gc
from PIL import Image

%matplotlib inline

In [2]:
os.getcwd()

'C:\\Users\\Meehir\\Documents\\GitHub\\project-5'

In [3]:
kaggle_20_path = "D:\\METIS\\kaggle\\imet-2020-fgvc7\\"
kaggle_19_path = "D:\\METIS\\kaggle\\imet-2019-fgvc6\\"

In [4]:
train_20_df = pd.read_csv(kaggle_20_path + 'train.csv')
test_20_df = pd.read_csv(kaggle_20_path + 'sample_submission.csv')
labels_20_df = pd.read_csv(kaggle_20_path + 'labels.csv')

train_19_df = pd.read_csv(kaggle_19_path + 'train.csv')
test_19_df = pd.read_csv(kaggle_19_path + 'sample_submission.csv')
labels_19_df = pd.read_csv(kaggle_19_path + 'labels.csv')

In [5]:
train_20_df

                                      id                      attribute_ids
0       000040d66f14ced4cdd18cd95d91800f                       448 2429 782
1       0000ef13e37ef70412166725ec034a8a  2997 3231 2730 3294 3099 2017 784
2       0001eeb4a06e8daa7c6951bcd124c3c7                       2436 1715 23
3       000226398d224de78b191e6db45fd94e                  2997 3433 448 782
4       00029c3b0171158d63b1bbf803a7d750            3465 3322 3170 1553 781
...                                  ...                                ...
142114  fffd00c472c1856f5c8b7e41311e2344                      125 783 96 27
142115  fffdb3cde6cfd3b335fc56ecf2f1eae5             2732 3170 448 1559 785
142116  fffdde4325edb076dccea37978c1378a                  2813 233 1561 785
142117  fffe25dccc93a5e9e12f26d494dae26f       3095 408 1610 1470 1899 1449
142118  fffe66c4a175c96065551cebacb7636f          2788 3270 3170 946 783 29

[142119 rows x 2 columns]

In [6]:
test_20_df.head()

                                 id attribute_ids
0  00011f01965f141f5d1eea6592fa9862         0 1 2
1  00014abc91ed3e4bf1663fde8136fe80         0 1 2
2  0002e2054e303badc1a33463f6fb7973         0 1 2
3  0002e8f35f85f28bebfb28f2a627dc4d         0 1 2
4  00082dfc0de78506f96104bc05eb5a49         0 1 2

In [7]:
labels_20_df

      attribute_id            attribute_name
0                0      country::afghanistan
1                1         country::alamania
2                2          country::algeria
3                3           country::arabia
4                4          country::armenia
...            ...                       ...
3469          3469             tags::writing
3470          3470  tags::writing implements
3471          3471              tags::zebras
3472          3472                tags::zeus
3473          3473              tags::zodiac

[3474 rows x 2 columns]

In [8]:
labels_20_df['labels'] = labels_20_df['attribute_name'].copy()
labels_19_df['labels'] = labels_19_df['attribute_name'].copy()

In [9]:
labels_20_df['type'] = labels_20_df['labels'].apply(lambda x: x.split("::")[0])
labels_20_df['label'] = labels_20_df['labels'].apply(lambda x: x.split("::")[1])

labels_19_df['type'] = labels_19_df['labels'].apply(lambda x: x.split("::")[0])
labels_19_df['label'] = labels_19_df['labels'].apply(lambda x: x.split("::")[1])

In [10]:
labels_20_df.set_index('attribute_id', inplace=True)
labels_19_df.set_index('attribute_id', inplace=True)

In [11]:
label_types = list(set(labels_20_df['type'].to_list()))

In [12]:
d = {}
for label in label_types:
    d[label] = labels_20_df[labels_20_df['type'] == label]['label'].to_list()
    vars()[label] = d[label]

In [13]:
d.keys()

dict_keys(['medium', 'country', 'culture', 'dimension', 'tags'])

In [14]:
print(country)

['afghanistan', 'alamania', 'algeria', 'arabia', 'armenia', 'austria', 'azerbaijan', 'belgium', 'borneo', 'bulgaria', 'byzantine egypt', 'canada', 'central italy', 'chile', 'china', 'colombia', 'colombia or ecuador', 'costa rica', 'costa rica or panama', 'czech republic', 'democratic republic of the congo', 'dominican republic', 'ecuador', 'egypt', 'egypt and sudan', 'egypt or iraq', 'egypt or syria', 'england', 'ethiopia', 'france', 'france or germany', 'french', 'gabon', 'gaul', 'germany', 'ghana', 'greece', 'guatemala', 'guatemala or mexico', 'guyana', 'honduras', 'hungary', 'india', 'india or iran', 'indonesia', 'iran', 'iran (persia)', 'iran or central asia', 'iran or iraq', 'iran or present-day uzbekistan', 'iran or turkey', 'iraq', 'iraq or syria', 'ireland', 'italy', 'japan', 'kenya', 'korea', 'madagascar', 'mali', 'mexico', 'morocco', 'mozambique', 'netherlands', 'new zealand', 'nigeria', 'north netherlands', 'northern france', 'northwestern iran or baghdad', 'nubia (sudan)', 'palestine', 'panama', 'papua new guinea', 'peru', 'philippines', 'portugal', 'present-day afghanistan', 'present-day azerbaijan', 'present-day france', 'present-day greece', 'present-day pakistan', 'present-day uzbekistan', 'russia', 'saudi arabia', 'scotland', 'solomon islands', 'south africa', 'south netherlands', 'spain', 'switzerland', 'syria', 'thailand', 'turkey', 'turkmenistan', 'uganda', 'united kingdom', 'united states', 'vanuatu', 'western turkmenistan', 'yemen']

In [15]:
fix_countries = ['byzantine egypt', 'central italy', 'colombia or ecuador', 'costa rica or panama', 'egypt and sudan', 'egypt or iraq', 
                 'egypt  or syria', 'france or germany', 'french', 'gaul', 'guatamala or mexico','india or iran', 'iran (persia)', 
                 'iran or central asia', 'iran or iraq', 'iran or present-day uzbekistan', 'iran or turkey', 'iraw or syria', 
                 'north netherlands', 'northern france','northwest iran or baghdad', 'nubia (sudan)', 'present-day afghanistan', 'present-day azerbaijan', 
                 'present-day france', 'present-day greece', 'present-day pakistan', 'present-day uzbekistan',
                'south netherlands', 'western turkenistan']

colombia or ecuador
costa rica or panama
egypt or iraq
egypt or syria
france or germany
guatemala or mexico
india or iran
iran or central asia
iran or iraq
iran or present-day uzbekistan
iran or turkey
iraq or syria
northwestern iran or baghdad

In [ ]:
'byzantine egypt', 'central italy', 'colombia or ecuador', 'costa rica or panama', 'egypt and sudan', 'egypt or iraq', 'egypt  or syria', 'france or germany', 'french', 'gaul', 'guatamala or mexico',
'india or iran', 'iran (persia)', 'iran or central asia', 'iran or iraq', 'iran or present-day uzbekistan', 'iran or turkey', 'iraw or syria', 'north netherlands', 'northern france',
'northwest iran or baghdad', 'nubia (sudan)', 'present-day afghanistan', 'present-day azerbaijan', 'present-day france', 'present-day greece', 'present-day pakistan', 'present-day uzbekistan',
'south netherlands', 'western turkenistan'

In [17]:
replace_countries = {}

In [53]:
for item in country:
    if 'present-day' in item:
        print(item)
        fix_countries.append(item)

iran or present-day uzbekistan
present-day afghanistan
present-day azerbaijan
present-day france
present-day greece
present-day pakistan
present-day uzbekistan

In [27]:
for label in label_types:
    vars()[label] = d[label]

In [28]:
dimension

['large', 'medium', 'small', 'tiny', 'very large']

In [13]:
dummies_20 = pd.get_dummies(labels_20_df['type'])
dummies_20

              country  culture  dimension  medium  tags
attribute_id
0                   1        0          0       0     0
1                   1        0          0       0     0
2                   1        0          0       0     0
3                   1        0          0       0     0
4                   1        0          0       0     0
...               ...      ...        ...     ...   ...
3469                0        0          0       0     1
3470                0        0          0       0     1
3471                0        0          0       0     1
3472                0        0          0       0     1
3473                0        0          0       0     1

[3474 rows x 5 columns]

In [14]:
labels_20_df = labels_20_df.merge(dummies_20, left_on='attribute_id', right_on='attribute_id')
labels_20_df

,attribute_name,labels,type,label,country,culture,dimension,medium,tags
attribute_id,,,,,,,,,
0,country::afghanistan,country::afghanistan,country,afghanistan,1,0,0,0,0
1,country::alamania,country::alamania,country,alamania,1,0,0,0,0
2,country::algeria,country::algeria,country,algeria,1,0,0,0,0
3,country::arabia,country::arabia,country,arabia,1,0,0,0,0
4,country::armenia,country::armenia,country,armenia,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
3469,tags::writing,tags::writing,tags,writing,0,0,0,0,1
3470,tags::writing implements,tags::writing implements,tags,writing implements,0,0,0,0,1
3471,tags::zebras,tags::zebras,tags,zebras,0,0,0,0,1
3472,tags::zeus,tags::zeus,tags,zeus,0,0,0,0,1
3473,tags::zodiac,tags::zodiac,tags,zodiac,0,0,0,0,1

In [21]:
label_dummies = pd.get_dummies(labels_20_df['label'])
labels_dummies

NameError: name 'labels_dummies' is not defined

In [15]:
labels_20_df = labels_20_df.merge(label_dummies, left_on='attribute_id', right_on='attribute_id')
labels_20_df

,attribute_name,labels,type,label,country,culture,dimension,medium_x,tags,"""tinned"" surface",...,yew,yorkshire,yoruba peoples,zebras,zenú,zeus,zinc alloy; cast,zodiac,zurich,zwischengold glass
attribute_id,,,,,,,,,,,,,,,,,,,,,
0,country::afghanistan,country::afghanistan,country,afghanistan,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,country::alamania,country::alamania,country,alamania,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,country::algeria,country::algeria,country,algeria,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,country::arabia,country::arabia,country,arabia,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,country::armenia,country::armenia,country,armenia,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3469,tags::writing,tags::writing,tags,writing,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3470,tags::writing implements,tags::writing implements,tags,writing implements,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3471,tags::zebras,tags::zebras,tags,zebras,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3472,tags::zeus,tags::zeus,tags,zeus,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3473,tags::zodiac,tags::zodiac,tags,zodiac,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [16]:
labels_20_df[labels_20_df['label'].duplicated() == True].head()

,attribute_name,labels,type,label,country,culture,dimension,medium_x,tags,"""tinned"" surface",...,yew,yorkshire,yoruba peoples,zebras,zenú,zeus,zinc alloy; cast,zodiac,zurich,zwischengold glass
attribute_id,,,,,,,,,,,,,,,,,,,,,
209,culture::canada,culture::canada,culture,canada,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
233,culture::china,culture::china,culture,china,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250,culture::colombia,culture::colombia,culture,colombia,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
259,culture::costa rica,culture::costa rica,culture,costa rica,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
260,culture::costa rica or panama,culture::costa rica or panama,culture,costa rica or panama,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df = labels_20_df
label_dict = df['label'].to_dict()
len(label_dict)

3474

In [18]:
#with open(os.getcwd() + '\\data\\label_dict.txt', 'w', encoding='utf8') as f:
    #f.write(str(label_dict))

In [19]:
cols = labels_20_df.columns.to_list()

#with open(os.getcwd() + '\\data\\labels_cols_list.txt', 'w', encoding='utf8') as f:
    #f.write(str(cols))

In [20]:
# can drop label because it's in a col
labels_20_df = labels_20_df.drop(columns=['type','labels', 'attribute_name'])
labels_19_df = labels_19_df.drop(columns=['type', 'labels', 'attribute_name'])

In [21]:
#labels_20_df.to_csv(os.getcwd() + '\\data\\formatted 2020 labels.csv')
#labels_19_df.to_csv(os.getcwd() + '\\data\\formatted 2020 labels.csv')

In [22]:
labels_20_df

,label,country,culture,dimension,medium_x,tags,"""tinned"" surface","""vetro a retorti""",abalone,abalone shell,...,yew,yorkshire,yoruba peoples,zebras,zenú,zeus,zinc alloy; cast,zodiac,zurich,zwischengold glass
attribute_id,,,,,,,,,,,,,,,,,,,,,
0,afghanistan,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,alamania,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,algeria,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,arabia,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,armenia,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3469,writing,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3470,writing implements,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3471,zebras,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3472,zeus,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3473,zodiac,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [23]:
labels_20_df['label'].to_csv(os.getcwd() + "\\data\\labels.csv")

In [24]:
all_topics = labels_20_df['label'].to_list()

In [25]:
print(all_topics[0:100])

['afghanistan', 'alamania', 'algeria', 'arabia', 'armenia', 'austria', 'azerbaijan', 'belgium', 'borneo', 'bulgaria', 'byzantine egypt', 'canada', 'central italy', 'chile', 'china', 'colombia', 'colombia or ecuador', 'costa rica', 'costa rica or panama', 'czech republic', 'democratic republic of the congo', 'dominican republic', 'ecuador', 'egypt', 'egypt and sudan', 'egypt or iraq', 'egypt or syria', 'england', 'ethiopia', 'france', 'france or germany', 'french', 'gabon', 'gaul', 'germany', 'ghana', 'greece', 'guatemala', 'guatemala or mexico', 'guyana', 'honduras', 'hungary', 'india', 'india or iran', 'indonesia', 'iran', 'iran (persia)', 'iran or central asia', 'iran or iraq', 'iran or present-day uzbekistan', 'iran or turkey', 'iraq', 'iraq or syria', 'ireland', 'italy', 'japan', 'kenya', 'korea', 'madagascar', 'mali', 'mexico', 'morocco', 'mozambique', 'netherlands', 'new zealand', 'nigeria', 'north netherlands', 'northern france', 'northwestern iran or baghdad', 'nubia (sudan)', 'palestine', 'panama', 'papua new guinea', 'peru', 'philippines', 'portugal', 'present-day afghanistan', 'present-day azerbaijan', 'present-day france', 'present-day greece', 'present-day pakistan', 'present-day uzbekistan', 'russia', 'saudi arabia', 'scotland', 'solomon islands', 'south africa', 'south netherlands', 'spain', 'switzerland', 'syria', 'thailand', 'turkey', 'turkmenistan', 'uganda', 'united kingdom', 'united states', 'vanuatu', 'western turkmenistan', 'yemen']

In [26]:
'iran or iraq'

'iran or iraq'

In [27]:
def merge_cols(df, col1, col2, new_col_name,drop_cols=True):
    df[new_col_name] = df[col1] + df[col2]
    
    if drop_cols:
        df.drop(columns=[col1, col2], inplace=True)
        return ("merged {}[{}] and {}[{}] into {}[{}] and dropped columns=[{}, {}]".format(df, col1, df, col2, df, new_col_name, col1, col2))
    else:
        return ("merged {}[{}] and {}[{}] into {}[{}] and dropped columns=[{}, {}]".format(df, col1, df, col2, df, new_col_name, col1, col2))

In [28]:
sum_col = labels_20_df['costa rica'] + labels_20_df['costa rica or panama']
labels_20_df['test'] = sum_col

In [29]:
labels_20_df['test'].value_counts()

0    3470
1       4
Name: test, dtype: int64